In [3]:
import pandas as pd

In [8]:
data=pd.read_csv('adult.data.csv',index_col=['race'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
White,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
White,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
White,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
Black,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
Black,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32561 entries, White to White
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   sex             32561 non-null  object
 9   capital-gain    32561 non-null  int64
 10  capital-loss    32561 non-null  int64
 11  hours-per-week  32561 non-null  int64
 12  native-country  32561 non-null  object
 13  salary          32561 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.7+ MB

#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [12]:

race_count=pd.Series(data.index.value_counts())
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [129]:
pd.Series(data.index.value_counts()).tolist()

[27816, 3124, 1039, 311, 271]

In [13]:
print(race_count.tolist())

[27816, 3124, 1039, 311, 271]

What is the average age of men?

In [15]:
data['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [19]:
mask= data['sex']=='Male'
data_male=data[mask]
data_male['age'].mean().__round__(1)

39.4

In [41]:
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

What is the percentage of people who have a Bachelor's degree?

In [24]:
mask=data['education']=='Bachelors'
data_bachelors=data[mask]
print(((data_bachelors.shape[0]/data.shape[0])*100).__round__(1))

16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [47]:
mask=(data['education']=='Bachelors') |(data['education']=='Masters')|(data['education']=='Doctorate')
data_advanced=data[mask]
data_final=data_advanced.salary.value_counts()
print(((data_final[1]/data_advanced.shape[0])*100).__round__(1))

46.5

What percentage of people without advanced education make more than 50K?

In [88]:
datos=['Bachelors','Masters','Doctorate']
mask=~data['education'].isin(datos)
data_no_adv=data[mask]
data_final=data_no_adv.salary.value_counts()
print(((data_final[1]/data_no_adv.shape[0])*100).__round__(1))

17.4

What is the minimum number of hours a person works per week?

In [89]:
data['hours-per-week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [93]:
mask=data['hours-per-week']==data['hours-per-week'].min()
data_salary=data[mask]
data_50=data_salary.salary.value_counts()

print(((data_50[1]/data_salary.shape[0])*100).__round__(1))

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [110]:
data_g=data['native-country'].value_counts().sort_values(ascending=False)
for index,value in data_g.items():
    print(index,value)

643

In [107]:
mask=data['salary']=='>50K'
data_c=data[mask]
data_c_t=data_c['native-country'].value_counts().sort_values(ascending=False)
data_c_t.index

Index(['United-States', '?', 'Philippines', 'Germany', 'India', 'Canada',
       'Mexico', 'England', 'Italy', 'Cuba', 'Japan', 'Taiwan', 'China',
       'Iran', 'South', 'Puerto-Rico', 'Poland', 'France', 'Jamaica',
       'El-Salvador', 'Greece', 'Cambodia', 'Yugoslavia', 'Hong', 'Ireland',
       'Vietnam', 'Portugal', 'Haiti', 'Ecuador', 'Guatemala', 'Scotland',
       'Hungary', 'Thailand', 'Nicaragua', 'Trinadad&Tobago', 'Laos',
       'Columbia', 'Dominican-Republic', 'Peru', 'Honduras'],
      dtype='object')

In [120]:
mayor=0
indice=''
for index,value in data_g.items():
    for i,v in data_c_t.items():
        if index==i:
            valor=(v/value)*100
            if valor>mayor:
                mayor=valor
                indice=index
            else:
                break
print(indice,mayor)

Iran 41.86046511627907

Identify the most popular occupation for those who earn >50K in India.

In [124]:
mask= (data['salary']=='>50K') & (data['native-country']=='India')
data_occ=data[mask]
data_occ=data_occ.occupation.value_counts().sort_values(ascending=False)

In [127]:
data_occ.index[0]

'Prof-specialty'